@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:wght@500&display=swap');



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    height: fit-content;
    padding: 5px;
    background-color: #742F44;
    margin-bottom: 0;
}
footer {
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    height: fit-content;
    padding: 10px;
    background-color: #742F44;
}
header strong {
    margin-left: 15px;
}
ul p {
    display: inline;
}
body {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.topframe {
    width: 95%;
    margin: 0 auto;
}
.centertext {
    padding: 10px 10%;
}
#central {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 60%;
    height: 100%;
    background-color: white;
    padding-top: 20px;
    font-family: 'Noto Sans', sans-serif;
}
.collage {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.collage div {
    padding: 2%;
    width: 260px;
    height: fit-content;
    margin: 1%;
    border-style: solid;
    border-color: black;
    border-width: thin;
}
.transmap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.transmap div {
    padding: 2%;
    width: 45%;
    height: fit-content;
    margin: 1%;
}
.collage h3 {
    text-align: center;
}
@media only screen and (max-width: 480px){
    #central {
        width: 100%;
    }
    .topframe {
        width: 100%;
        margin: 0 auto;
    }
    header ul {
        display: block;
    }
    header ul li {
        display: block;
    }
}
img {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    margin: 20px 0px;
}
header ul li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

header a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

header a:hover {
    color: black;
}
figcaption {
    background-color: rgb(204, 204, 204);
    margin: 0;
    padding: 5px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 10px;
}